<?xml version="1.0" encoding="utf-8"?>
   <widget xmlns   ="http://www.w3.or/ns/widgets"
       xmlns:gap   ="http://phonegap.com/ns/1.0"
	   id          = "com.phonegap.example1"
	   versionCode = "10"
	   version     = "1.0.0">
	   
	<!--vercionCode is optional and android only-->
	
	<name>Aplicacion uno DATOSALUMNOS</name>
	
	<description>
	   Aplicacion que muestra los DATOS del alumno
	</description>
	
	<preference name="phonegap-version" value="3.1.0" />
	
	<author href="https://build.phonegap.com" email="support@phonegap.com">
	Mijael Flores Cerezo
	</author>
	
<gap:plugin name="org.apache.cordova.device" version="0.2.12" />
     <gap:plugin name="org.apache.cordova.vibration" version="0.3.0" />
<gap:plugin name="org.apache.cordova.dialogs" version="0.2.6" />


  <!--colocar icono app-->
  
  <icon src="res/android/mdpi.png" />
  </widget>